node_modules/
*.log
frontend/public/javascripts/*
frontend/public/stylesheets/*
frontend/public/javascripts/compiled.js

frontend/local.json

frontend/local.json

backend/local.json

frontend/public/javascripts/compiled.js

backend/keyfile.json

frontend/keyfile.json
