doctype html
html
  head
    title="Video Intelligence Demo"

    // META INFO
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    // STYLESHEETS
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700', type='text/css')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli")
    link(rel="stylesheet" href="https://necolas.github.io/normalize.css/latest/normalize.css")
    link(rel="stylesheet" href="/stylesheets/site.css")

    // JAVASCRIPT
    script(src="/javascripts/compiled.js")

  body.l-pad-top-7
    // TOP NAV
    include _includes/top-nav.pug

    // CONTENT
    #stage
      block content