extends layout

block content
	header.hero.has-sidebar.fill-subtle
		video.hero-video.show-video(controls src=link)
		div.label-results
	div.sheet.info-bar.clearfix
		h3.text-title Name of video
		h4.text-caption length: 2:23
		button.button.button-secondary Bookmark Video
	div.label-graph(id=id)
	div#example