/*
* Basic Defaults
*
*/

$unit: 8px;
$font-family: "Roboto", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;


/*
* Z Indexes
*
*/

$z-1: 1;
$z-2: 2;
$z-3: 3;
$z-4: 4;
$z-5: 5;

$z-max-1: 1000;
$z-max-2: 2000;
$z-max-3: 3000;
$z-max-4: 4000;
$z-max-5: 5000;

/*
* Colors
*
*/

$color-dark: #455A64;
$color-light: #FFF;
$color-subtle: rgba(#EDF0F2, .56);
$color-primary: #1565C0;
$color-accent: #EA1E63;
