/*
* Top Navigation Bar
*
*/


/*
* SETTINGS
*
*/

$unit: 8px !default;
$top-nav: '.top-nav';
$top-nav-height: $unit * 7;


/*
* Class
*
*/

#{$top-nav} {
  background: $color-primary;
  box-shadow: 0 0 ($unit / 2) rgba(0, 0, 0, .12), 0 ($unit / 2) ($unit / 2) rgba(0, 0, 0, .24);
  box-sizing: border-box;
  color: $color-light;
  height: $top-nav-height;
  left: 0;
  padding: $unit ($unit * 30) $unit ($unit * 35);
  position: fixed;
  right: 0;
  top: 0;
  z-index: $z-max-5;

  h1 {
    bottom: 0;
    left: $unit * 2;
    line-height: $top-nav-height;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;

    a {
      background:  url('/images/logo.svg') center left no-repeat;
      background-size: (40px * .6) (58px * .6);
      color: $color-light;
      display: inline-block;
      line-height: $top-nav-height;
      text-decoration: none;
      padding-left: $unit * 4;
    }
  }

  .form-search {
    input {
      background: darken($color-primary, 5%);
      color: $color-light;

      &:hover,
      &:focus,
      &:active {
        background: $color-light;
        color: $color-dark;
      }
    }

    .material-icons {
      color: $color-dark;
    }
  }



  #{$top-nav}-menu {
    bottom: 0;
    cursor: pointer;
    right: $unit * 2;
    line-height: $top-nav-height;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;

    h3 {
      line-height: $top-nav-height;
    }

    img {
      margin: $unit 0 $unit ($unit * 2);
    }
  }
}
