nav.top-nav
  h1.text-title.is-inverted.is-uppercase
    a(href="/" data-navigo) Video Intelligence

  div.form-search
    i.material-icons search
    input#search(placeholder="Search Videos...",type="text")
